@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-categories {
  /* Tailwind CSS classes for basic styling */
  /* appearance: none; */
  background-color: white;
  padding: 0.5rem 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}
.blog-categories option:hover {
  background-color: red; /* Change background color on hover */
}

.fixed-width {
  width: 95%; /* Set your desired fixed width here */
  white-space: pre-wrap; /* This will make the text wrap within the pre tag */
  word-wrap: break-word; /* This will break long words to fit within the width */
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #62b7ef; /* Blue */
  border-radius: 90%;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
